form.login-form {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    
}

form h1 {
    margin-bottom: 30px;
}

div.input {
    margin-bottom: 15px;
    position: relative;
}

input {
    width: 400px;
    padding: 16px 0;

    border: none;
    border-bottom: 1px solid #A5009E;

    background-color: transparent;

    font-size: 1em;
}

input ~ label {
    position: absolute;
    top: 16px;
    left: 0px;

    transition: .4s;
}

input:focus ~ label,
input:valid ~ label {
    transform: translateY(-24px);
    font-size: 0.8em;
    letter-spacing: 0.1em;
}

.options {
    display: flex;
    flex-direction: row;

    width: 397px;
    align-items: center;
    justify-content: space-between;
}

.options button {
    padding: 12px 20px;
    border-radius: 7px;
    border-style: none;
    width: 100%;
    color: white;
    background-color: #3A0FB4;

    transition: linear .3s;
}

.options button:hover {
    background-color: #0f042e;
}
